.home{
    background-color: #00042c;
}

::ng-deep .mat-form-field-underline{
    background-color: green !important;
}

::ng-deep .mat-tab-labels, ::ng-deep .mat-tab-label, .mat-tab-link {
color: white !important;
font-size: 16px;
text-align: center;
background-color: #00042c;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
background: #fff;
height: 3px;
margin-bottom: 2px; 

}